<div class="center hero-unit">
  <h1>Demo App</h1>
 
  <h2>
    Welcome to the home page of Demo App! 
  </h2>
 
  <%= link_to "Sign up NOW!!", "users/new", class: "btn btn-large btn-primary" %>
</div>
